 <h1>
      
   ready for the message 
    </h1>
   {{welcome}}

        {{pageTitle}}
        <a href="/">Welcome</a>
        <a href="/about">about</a>
          <a href="/projects">projects</a>
    </h1>